<!DOCTYPE html>
<html>
	<head>
		<title>Backbone Template</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="js/handlebars.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
	</head>
	<body>
	  <div id="container">
	  <script id="contactTemplate" type="text/template">
    	<img src="<%= photo %>" alt="<%= name %>" />
   		 <h1><%= name %><span><%= type %></span></h1>
    		<div><%= address %></div>
    		<dl>
        		<dt>Tel:</dt><dd><%= tel %></dd>
       			 <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
    			</dl>
			</script>
	  	<div id="contacts"></div>
	  </div>		
	</body>
</html>